<?xml version="1.0"?>
<config>
	<modules>
		<Ceesenco_Maattabel>
			<version>1.0.0</version>
		</Ceesenco_Maattabel>
	</modules>
	<global>
    <resources>
      <maattabel_setup>
        <setup>
          <module>Ceesenco_Maattabel</module>
          <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
        </setup>
        <connection>
          <use>core_setup</use>
      	</connection>
      </maattabel_setup>
      <maattabel_write>
        <connection>
          <use>core_write</use>
        </connection>
      </maattabel_write>
      <maattabel_read>
        <connection>
          <use>core_read</use>
        </connection>
      </maattabel_read>
    </resources>
		<helpers>
      <maattabel>
        <class>Ceesenco_Maattabel_Helper</class>
      </maattabel>
    </helpers> 
		<blocks>
      <maattabel>
        <class>Ceesenco_Maattabel_Block</class>
      </maattabel>
    </blocks> 
		<models>
      <maattabel>
        <class>Ceesenco_Maattabel_Model</class>
      </maattabel>
    </models>
    <events>
      <admin_system_config_changed_section_ceesenco_maattabel>
        <observers>
          <Ceesenco_Maattabel_Model_Observer>
            <type>singleton</type>
            <class>Ceesenco_Maattabel_Model_Observer</class>
            <method>putsettings</method>
          </Ceesenco_Maattabel_Model_Observer> 
        </observers> 
      </admin_system_config_changed_section_ceesenco_maattabel>
    </events> 
  </global>
	<frontend>
    <layout>
      <updates>
	      <maattabel>
	        <file>ceesenco/maattabel.xml</file>
	      </maattabel>
      </updates>
    </layout>
  </frontend>
  <admin>
    <routers>
      <ceesenco_maattabel_adminhtml>
      	<use>admin</use>
      	<args>
          <module>Ceesenco_Maattabel</module>
          <frontName>adminmaattabel</frontName>
        </args>
      </ceesenco_maattabel_adminhtml>
    </routers>
  </admin> 
	<adminhtml>
    <translate>
      <modules>
        <Ceesenco_Maattabel>
          <files>
              <default>Ceesenco_Maattabel.csv</default>
          </files>
        </Ceesenco_Maattabel>
      </modules>
    </translate>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
							      <ceesenco_maattabel translate="title" module="maattabel">
							        <title>Measurements table</title>
							      </ceesenco_maattabel>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
   		<updates>
    		<basket>
     			<file>ceesenco/picker.xml</file>
    		</basket>
   		</updates>
  	</layout>
	</adminhtml>
  <default>
    <ceesenco_maattabel>
      <configuration>
      	<enabled>0</enabled>
      	<width>920</width>
      	<height>95%</height>
      	<label>Maattabel</label>
      	<lang>nl</lang>
      </configuration>
    </ceesenco_maattabel>
  </default>
</config>
